* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.664)), url(36626.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: demilovato;
}

h1 {
    font-size: 7vh;
    /* border: solid red 2px; */
}

div {
    display: inline-block;
    width: 50%;
    height: 20vh;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    word-spacing: 15px;
    text-align: center;
}

p {
    margin-top: 10%;
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(255, 151, 151);
    font-size: 3vh;
    border: white 2px solid;
    padding: 2% 4%;
    border-radius: 40%;
    transition: background-color 0.3s;
}

a:hover, a:active {
    color: white;
    background-color: rgb(255, 107, 107);
    box-shadow: 0 0 4px 4px rgb(255, 189, 189);;
}

@font-face {
    font-family: demilovato;
    src: url(Fonts/Demi-Lovato-Font.ttf);
}